= WebHelper.Errors(Errors)
%form{method="post", action="/user/login/"}
	%p
		= Language["UserName"]
		%br
		%input{type="text", name="UserName", value=UserName}
		%br		
	%p
		= Language["Password"]
		%br
		%input{type="text", name="Password", value=Password}
		%br
	%p
		%input{type="submit", value=Language["Save"]}