= WebHelper.Errors(Errors)
%form{method="post", action="/user/settings"}
	%p
		FirstName:
		%br
		%input{type="text", name="user[FirstName]", value=user.FirstName}
		%br
	%p
		LastName:
		%br
		%input{type="text", name="user[LastName]", value=user.LastName}
		%br
	%p
		UserName:
		%br
		%input{type="text", name="user[UserName]", value=user.UserName}
		%br		
	%p
		%input{type="submit", value="Save"}